--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
fastapi==0.115.0
uvicorn[standard]==0.30.6

langchain==0.3.7
langchain-community==0.3.7
langchain-groq==0.2.0
langchain-huggingface==0.1.0

sentence-transformers==3.2.1
faiss-cpu==1.8.0
huggingface-hub==0.25.2

sqlalchemy==2.0.35
pymysql==1.1.1

pydantic==2.9.2
python-dotenv==1.0.1

unstructured==0.15.10
beautifulsoup4==4.12.3
requests==2.32.3

arxiv==2.4.0
youtube-transcript-api==1.2.4
graphviz==0.21
